section.block_1
  ul.block-1
    -var imgPath = "img/block_1/"
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-5@1x.webp 1x, "+imgPath+"img-5@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-5@1x.jpg", 
          data-srcset=imgPath+"img-5@2x.jpg 2x", 
          alt="food: burger, coffee, french fries")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-7@1x.webp 1x, "+imgPath+"img-7@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-7@1x.jpg", 
          data-srcset=imgPath+"img-7@2x.jpg 2x", 
          alt="burgers")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-8@1x.webp 1x, "+imgPath+"img-8@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-8@1x.jpg", 
          data-srcset=imgPath+"img-8@2x.jpg 2x", 
          alt="burgers and french fries")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-6@1x.webp 1x, "+imgPath+"img-6@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-6@1x.jpg", 
          data-srcset=imgPath+"img-6@2x.jpg 2x", 
          alt="burgers")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-5@1x.webp 1x, "+imgPath+"img-5@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-5@1x.jpg", 
          data-srcset=imgPath+"img-5@2x.jpg 2x", 
          alt="food: burger, coffee, french fries")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-7@1x.webp 1x, "+imgPath+"img-7@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-7@1x.jpg", 
          data-srcset=imgPath+"img-7@2x.jpg 2x", 
          alt="burgers")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-1@1x.webp 1x, "+imgPath+"img-1@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-1@1x.jpg", 
          data-srcset=imgPath+"img-1@2x.jpg 2x", 
          alt="food: burgers and french fries")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-2@1x.webp 1x, "+imgPath+"img-2@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-2@1x.jpg", 
          data-srcset=imgPath+"img-2@2x.jpg 2x", 
          alt="burgers")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-3@1x.webp 1x, "+imgPath+"img-3@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-3@1x.jpg", 
          data-srcset=imgPath+"img-3@2x.jpg 2x", 
          alt="burgers and french fries")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-4@1x.webp 1x, "+imgPath+"img-4@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-4@1x.jpg", 
          data-srcset=imgPath+"img-4@2x.jpg 2x", 
          alt="burgers")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-1@1x.webp 1x, "+imgPath+"img-1@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-1@1x.jpg", 
          data-srcset=imgPath+"img-1@2x.jpg 2x", 
          alt="food: burgers and french fries")
    li.block-1__img-wrapper
      picture.block_1__picture
        source(
          data-srcset=imgPath+"img-2@1x.webp 1x, "+imgPath+"img-2@2x.webp 2x", 
          type="image/webp")
        img.block_1__img.lazyload(
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cmVjdCBmaWxsPSIjYjRiNWI1IiBoZWlnaHQ9IjI1MCIgd2lkdGg9IjI1MCIgeD0iMCIgeT0iMCIvPgo8L3N2Zz4K"
          data-src=imgPath+"img-2@1x.jpg", 
          data-srcset=imgPath+"img-2@2x.jpg 2x", 
          alt="burgers")